{% extends 'Base.html' %}
{% block title%} {{super()}} - SignUp {%endblock%}
{% block content %}
<div class = "col-md-4 col-md-offset-4">
    <form action = '' method="post">
        {{form.csrf_token}}
        <div class = "form-group">
            <label>Username</label>
            {{form.username(class="form-control", placeholder = "Username")}}
        </div>
        <div class="form-group">
            <label>Name</label>
            {{form.name(class="form-control")}}
        </div>
        <div class="form-group">
            <label>E-mail</label>
            {{form.email(class="form-control", placeholder="user@user.com")}}
        </div>
        <div class="form-group">
            <label>Password</label>
            {{form.password(class="form-control")}}
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            {{form.confirm_pass(class="form-control")}}
        </div>
        <div class="form-group">

        <a href = "{{url_for('index')}}" class="btn btn-default">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-x" viewBox="1 -1 16 16">
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
              </svg>
        </a>
        <button type = "submit" class="btn btn-default">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-check" viewBox="1 -1 16 16">
                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
              </svg>
        </button>
    </div>

    </form>
</div>
{% endblock %}